@import './theme.css';

.tooltip {
    display: inline;
    position: absolute;
    margin-left: 0.2rem;
    width: 0.4em;
    height: 0.4em;
    cursor: help;
    opacity: 0.9;
    vertical-align: middle;
}

.tooltip:hover {
    opacity: 1;
}
