body{
  background-color: white;
  color:black;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


a:link, a:visited{
  color: #0F3678;
}

tr.gold {
  background-color: #FFEE55;
}

tr.silver {
  background-color:#CCCCCC;
}


tr.bronze {
  background-color: #B87838;
}