body {
  background-color: white;
  color: black;
}

#root {
  width: 75%;
  margin: 0 auto;
  padding-top: 3vh;
  padding-bottom: 2vh;
  text-align: center;
  min-height: 95vh;
}

.title {
  font-weight: bolder;
  font-size: 2em;
  margin: 0;
}

.subtitle {
  font-weight: bold;
  font-size: 1.6em;
  margin: 0;
}

.subsubtitle {
  font-weight: bold;
  font-size: 1.25em;
  margin: 0.25em 0;
}

.panel {
  padding: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.top-panel {
  padding: 0 0;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}


a:link,
a:visited {
  color: #0F3678;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dddddd;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  color: black;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  border: 1px solid #dddddd;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.search-bar {
  margin: 1em;
}


.search-bar input {
  width: 25%;
}

.search-bar label {
  font-size: 15px;
  font-weight: bold;
  margin-right: 1em;
}

button:hover {
  background-color: #bbb;
}

button:focus {
  outline: none;
}

.contest-list {
  display: flex;
}

.contest-list * {
  padding-left: 0;
  width: 100%;
}

.contest-list a {
  font-size: 1.5rem;
  font-weight: bold;
}

.contest-list li {
  list-style-type: none;
}