@import './theme.css';

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  width: 80%;
  margin: 0 auto;
  padding-top: 5vh;
  text-align: center;
  min-height: 95vh;
}

.selector-row {
  width: 100%;
  display: grid;
  grid-template-columns: 48% 4% 48%;
  align-items: center;
}

.selector-row>a:first-child {
  justify-self: right;
}

.selector-row>a:last-child {
  justify-self: left;
}


.title {
  font-weight: bolder;
  font-size: 2.25em;
  margin: 0;
}

.subtitle {
  font-weight: bold;
  font-size: 1.6em;
  margin: 0;
}

.subsubtitle {
  font-weight: bold;
  font-size: 1.25em;
  margin: 0.25em 0;
}

.panel {
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--shadow-color);
  margin-bottom: 20px;
}

.top-panel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--shadow-color);
  margin-bottom: 15px;
}

.top-panel p {
  margin: 0;
}

.top-panel img {
  height: 2.5rem;
  width: 2.5rem;
}

a:link,
a:visited {
  color: var(--link-color);
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--shadow-color);
  background-color: var(--input-background-color);
  color: var(--text-color);
  margin-right: 10px;
  width: calc(max(10rem, 20%));
  font-size: 1.25rem;
}

.search-bar {
  margin: 1em;
}

.search-bar label {
  font-size: 15px;
  font-weight: bold;
  margin-right: 1em;
}

.contest-list {
  display: flex;
}

.contest-list * {
  padding-left: 0;
  width: 100%;
}

.contest-list a {
  font-size: 1.5rem;
  font-weight: bold;
}

.contest-list li {
  list-style-type: none;
}

.theme-icon {
  position: absolute;
  right: 2.5%;
  cursor: pointer;
  vertical-align: middle;
}

.theme-icon:hover {
  transform: scale(1.15);
}

.language-icon {
  position: absolute;
  left: 2.5%;
  cursor: pointer;
  vertical-align: middle;
  height: 2.5rem;
  width: 2.5rem;
  transition: transform 0.2s ease;
}

.language-icon:hover {
  transform: scale(1.15);
}

.dropdown {
  flex-direction: column;
  display: flex;
  list-style: none;
  margin: 10px 0;
  align-items: center;
}

.dropdown-header {
  max-width: 8rem;
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.arrow {
  position: absolute;
  right: 0%;
  font-size: 0.75rem;
  margin-left: 5px;
  vertical-align: middle;
}

.dropdown-content li {
  justify-self: center;
}