@import '../theme.css';

.selector {
    width: 50%;
    display: grid;
    justify-content: center;
    padding: 0 25%;
    grid-template-columns: 20% 50% 20%;
    align-items: center;
    grid-column-gap: 3rem;
}

.selector > span {
    justify-self: center;
}

.arrow {
    justify-self: center;
    display: flex;
    height: 80%;
    font-size: 75%;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px #0000001a;
    min-width: 1rem;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
}

.arrow:hover {
    background-color: var(--hover-background-color);
}

.arrow:active {
    background-color: var(--active-background-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.arrow:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--background-color), 0 0 0 4px var(--border-color);
}